@model FsWeb.Controllers.IndexModel

@{
    Layout = null;
    var maze = Maze.MakeMeAMaze(Model.Seed, Model.HallWidth, Model.Rooms).ToList();
}
<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
    <style type="text/css">
        line {
            stroke-width: 4;
        }
    </style>
</head>
<body>
    <div>
        A dangerous maze.  Return to this maze with this <a href="@Url.Action("Index", Model)">peristent url</a>.
    </div>
    
    <svg id="maze" height="@Model.MazeHeight" width="@Model.MazeWidth" xmlns="http://www.w3.org/2000/svg">
        <g>
            @foreach(var m in maze)
            {
                <line x1="@m.Item1.Item1" y1="@m.Item1.Item2" x2="@m.Item2.Item1" y2="@m.Item2.Item2" stroke-width="4" stroke="#000000" fill="none" />
            }
            
            <circle id="circle" cx="10" cy="10" fill="Green" r="5"></circle>
        </g>
    </svg>
    
    <svg id="maze_d3" height="@Model.MazeHeight" width="@Model.MazeWidth" xmlns="http://www.w3.org/2000/svg" style="border: green double medium"> 
        <g>
            <line x1="15" y1="15" x2="45" y2="45"  stroke-width="4" stroke="#000000" fill="none" />
            <circle id="circle_d3" cx="10" cy="10" fill="Green" r="5"></circle>
        </g>
    </svg>

    <script type="text/javascript" src="~/Scripts/jquery-1.6.4-vsdoc.js"></script>
    <script src="http://d3js.org/d3.v2.js"></script>
    <script type="text/javascript">
        var all_walls = [ 
            @foreach (var p in maze)
           {
               <text>{p1:{x:@p.Item1.Item1,y:@p.Item1.Item2},p2:{x: @p.Item2.Item1,y:@p.Item2.Item2}},</text>
           }
        ];
    </script>
    <script type="text/javascript" src="~/Scripts/script.js"></script>
</body>
</html>
