@model FsWeb.Controllers.IndexModel

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        A dangerous maze.  Return to this maze with this <a href="@Url.Action("Index", Model)">peristent url</a>.
    </div>
    
    <svg height="@Model.MazeHeight" width="@Model.MazeWidth" xmlns="http://www.w3.org/2000/svg">
        <g>
            @foreach(var m in Maze.MakeMeAMaze(Model.Seed, Model.HallWidth, Model.Rooms))
            {
                <line x1="@m.Item1.Item1" y1="@m.Item1.Item2" x2="@m.Item2.Item1" y2="@m.Item2.Item2" stroke-width="4" stroke="#000000" fill="none" />
            }
            
            <circle id="circle" cx="10" cy="10" fill="Green" r="5"></circle>
        </g>
    </svg>

    <script type="text/javascript" src="~/Scripts/jquery-1.6.4-vsdoc.js"></script>
    <script src="~/Scripts/d3.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/script.js"></script>
</body>
</html>
